/* Style for the entire form */
form {
  max-width: 400px;
  /* Adjust as needed */
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 1em var(--box-shadow-color);
  background-color: var(--dark-primary);
}

/* Style for form labels and inputs */
form label {
  display: block;
  margin-bottom: 0.5em;
  color: var(--dark-text);
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: var(--border-radius-small);
  box-sizing: border-box;
}
form input[type="email"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
  box-shadow: 0 0 1em var(--box-shadow-color);
  outline: none;
}

/* Style for the form button */
form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius-medium);
  background-color: var(--warning-color);
  color: var(--dark-secondary);
  cursor: pointer;
  font-size: 16px;
  margin-top: 1em;
  transition: all 0.15s ease-in-out;
}

form button:hover {
  background-color: var(--dark-text);
  color: var(--dark-secondary);
}

.reg-btn,
.reg-btn a {
  background-color: var(--dark-secondary);
  color: var(--dark-text);
}

.reg-btn:hover,
.reg-btn a:hover {
  background-color: var(--dark-text);
  color: var(--dark-secondary);
}

/* Style for error messages */
.error {
  color: red;
  margin-top: 10px;
}

/* Additional styles can be added for transitions, hover effects, and media queries for responsiveness */
