
.chat-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em 1em 0 0 ;
    height: 90vh;
}
.messageList{

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
    height: 100%;
    margin-bottom: 1em;
    background-color: var(--dark-primary);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 1em var(--box-shadow-color);
    top: auto;
    overflow-y: auto;
}

.messageList p{
    min-height: 2em;
    height: fit-content;
    padding: 0.5em;
    border-radius: var(--border-radius-small);
    margin:1em;
    width: fit-content;
    max-width: 80%;
    box-shadow: 0 0 .5em var(--box-shadow-color);
    overflow-wrap: anywhere;
}
.user-message{
    background-color: var(--highlighter-color);
    color: #fdfdfd;
    align-self: flex-end;
}
.ai-message{
    background-color: #d8d8d8;
    color: #000000;
    align-self: flex-start;
}

.messageList::-webkit-scrollbar {
    width: 12px;
}

.messageList::-webkit-scrollbar-track {
    background: var(--dark-primary);
    margin: 1em;
}

.messageList::-webkit-scrollbar-thumb {
    background-color: var(--dark-secondary);
    border-radius: var(--border-radius-medium);
}

@media screen and (max-width: 768px) {
    .chat-container{
        width: 90%;
    }
}