@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --light-primary: #c6ccb2;
    --light-secondary: #093824;
    --light-text: #485544;
    --dark-primary: #4e4e4e;
    --dark-secondary: #3b3b3b;
    --dark-text: #bebebe;
    --box-shadow-color: #181818;
    --highlighter-color: #218aff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark-secondary);
}