@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --light-primary: #c6ccb2;
    --light-secondary: #093824;
    --light-text: #485544;
    --dark-primary: #212121;
    --dark-secondary: #424242;
    --dark-text: #FFFFFF;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}