.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0.5rem 1rem;
    background-color: #c9c9c9;
}

.header h1, h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}
a{
    text-decoration: none;
    color: #000;
}