.inputBar {
    width: 100%;
    height: fit-content;
    min-height: 6vh;
    display: flex;
    padding: .5em 1em;
    box-shadow: 0 0 1em var(--box-shadow-color);
    border-radius: 1em;
    align-items: center;
    overflow-y: auto;
    align-self: flex-end;
    background-color: var(--dark-primary);
}

.inputBar textarea{
    width: 100%;
    min-height: 1.5em;
    max-height: 10em;
    border: none;
    align-items: center;
    font-size: 1em;
    resize: none;
    background-color: var(--dark-primary);
    color: var(--dark-text);
}

.inputBar textarea:focus{
    outline: none;
}

.inputBar button{
    width: 4em;
    height: 4em;
    border: none;
    border-radius: 1em;
    margin: 0 0 0 1em;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 .5em var(--box-shadow-color);
    background-color: var(--dark-text);
}

.inputBar button:hover{
    cursor: pointer;
    background-color: var(--highlighter-color);
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-track {
    background: var(--dark-primary);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--dark-secondary);
    border-radius: 6px;
}