.sidebar{
    display:flex;
    flex-direction: column;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 1em var(--box-shadow-color);
    padding: 1em 0.25em;
    margin: 1em 1em 0 1em;
    height: 90vh;
    min-width: 14em;
    width: 15%;
    overflow-y: auto;
    background-color: var(--dark-primary);
}
.sidebar h3{
    margin: 0 0.5em 0.25em 0.5em;
    align-self: center;
    color: var(--highlighter-color);
    font-size: 2em;
}
.sidebar ul {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.sidebar li{
    list-style: none;
    box-shadow: 0 0 .25em var(--box-shadow-color);
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: var(--border-radius-small);
    transition: all 0.2s ease-in-out;
    
    color: var(--dark-text);
}
.sidebar li:hover{
    background-color: var(--dark-text);
    cursor: pointer;
    color: var(--dark-secondary);
}
.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-track {
    background: var(--dark-primary);
    margin: 1em;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--dark-secondary);
    border-radius: var(--border-radius-medium);
}